*{
    padding:0;
    margin:0;
    font-family: sans-serif;
   
}
body{
    background-color: #f7f1e3;
    z-index: 0;
   
}
#nav-main{
    position:sticky;
    top:0
}
.navbar{
    background-color: #a4b0be;
    height:3cm;
    position:sticky;
}
#logo{
    width:100px;
    height:100px;
}
.navbar-brand{
    font-size: 35px !important;
    margin: 0px;
    color:black !important;
    font-family: 'Asap', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Russo One', sans-serif !important;
}
.navbar-nav{
    margin-left: auto;
    font-size:22px;
    height:50%;
    color:white;
}
#box_0{
    background-color: #70a1ff;
}
#dappa{
    background-color: #f1f2f6;
    margin:2% 40% 0% 40% ;
    line-height:1cm;
    padding:10px;
    padding-left: 5px;
    height:4cm;
    border-radius:8px;
}
#dappa.p{
    margin-left:.5cm;
}
#mail-label{
    margin-left:0.5cm;
}
#submit-btn{
    width:80px;
}
#submit-btn:hover{
    background-color:#f6b93b;
    color:black;
    transition:2s;

}
/*vdo above*/
#above-video p{
    margin-left:8cm;
    margin-right:3cm;
    font-size: 28px;
    justify-content: center;
}
#above-video p:nth-child(2){
    margin-left:25%;
}
/*vdo*/
#video{
    margin-left:35%;
}
#half{
    background-color:#f6b93b;
}
/*column*/
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 90%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;

}
.box{
    height:300px;
    box-shadow: #70a1ff;
    display:relative;
}
#box1{
    width:200px;
    height:150px;
    margin-left:10px;
}
#box2{
    width:200px;
    height:200px;
    margin-left:10px;
}
#box3{
    width:200px;
    height:200px;
    margin-left:10px;
}
h2{
    font-size: 33px;
}
ol{
    font-size: 25px;
}
footer{
    background-color: #d1ccc0;
    bottom:0;
    font-size: 30px;
    text-align: center;
    height:200px;
    margin-left:25px;
    margin-right:25px;
}

/*---------------------------------------------------------------------*/

/*media*/
@media only screen and (max-width: 1000px) {
/*navbar*/
body{
    overflow-x: hidden;
    background-color: #ffcccc;
}
#nav-main{
    position:sticky;
    top:0
}
#navbarNav{
    background-color:  #a4b0be;
    text-align: center;
    font-weight: bold;
    width:100%;
    color:white;
    
}
.navbar-brand{
    font-size: 25px !important;
    margin: 0px;
    font-weight: none !important;
    color:black !important;
    font-family: 'Asap', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Russo One', sans-serif !important;
}
ul li{
    border-bottom:1px solid black;
    border-bottom-style: ridge;
}
ul li:nth-child(4){
    border-bottom-style: none;
}
.navbar{
    position:sticky;
    width:auto;
    position:sticky;
    top:0;
}
    #logo{
        width:100px;
        height:100px;
        margin-left:0.25px;
    }
    .navbar-brand{
        size:60px;
        font-weight: bold;
        margin-left:0cm;
    }
    /* form */
    #dappa{
        background-color: #f1f2f6;
        margin:auto;
        padding:padding;
        height:auto;
        width:auto;
        border-radius:8px;
    }
    #dappa.p{
    margin-left:auto;
    }
    #mail-label{
        margin-left:1cm;
    }
    #submit-btn{
        width:75px;
    }

    /*vdo above*/
#above-video p{
    margin-left:1cm;
    margin-right:1cm;
    justify-content: center;
    font-size: 28px;
    justify-content: center;
}
#above-video p:nth-child(2){
    margin-left:1cm;
}
    /*vdo*/
    #video{
        width:auto;
        height:auto;
        margin:45px;
        position:relative;
        padding:1.5cm;
        justify-content:center;
    }
    #half{
        background-color:#fed330;
    }
    .container{
        display:flex;
        justify-content:center;
        align-items:center;
        width: 200%;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap:50px;
    
    }
    .box{
        height:500px;
        box-shadow: #70a1ff;
        display:relative;
        margin-left:10%;
    }
    #box1{
        width:200px;
        height:150px;
    }
    #box2{
        width:200px;
        height:150px;
    }
    #box3{
        width:200px;
        height:150px;
    }
    ol{
        font-size: 22px;
    }
    footer{
        background-color: #d1ccc0;
        bottom:0;
        font-size: 30px;
        text-align: center;
        height:200px;
        margin-left:25px;
        margin-right:25px;
        margin-bottom:0;
    }

}
